<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="complex_test_robot">
  
  <!-- Test include via $(find ...) -->
  <xacro:include filename="$(find test_pkg)/sub.xacro" />

  <link name="base_link">
    <visual>
        <geometry>
            <cylinder radius="0.2" length="0.1"/>
        </geometry>
        <material name="gray">
            <color rgba="0.5 0.5 0.5 1"/>
        </material>
    </visual>
  </link>

  <!-- Instantiate macros from included file -->
  <xacro:colored_box name="box_red" color="1 0 0 1" size="0.2 0.2 0.2" position="0.5 0 0.2"/>
  <xacro:colored_box name="box_green" color="0 1 0 1" size="0.1 0.3 0.1" position="-0.5 0 0.2"/>
  <xacro:colored_box name="box_blue" color="0 0 1 1" size="0.1 0.1 0.5" position="0 0.5 0.3"/>

</robot>